.scrollable {
    bottom: 0px;
    overflow-y: auto  !important;
    overflow-x: hidden !important;
}

.prs-btn {
    color: #fff;
    background: #34ab76;
    padding: 5px;
    border-radius: 6px;
    cursor: pointer;
}

.exit-btn {
    position: absolute;
    top: 2%;
    right: 2%;
    display: block;
}